.pixi-player {
  width: 100vw;
  height: 100vh;

  font-size: 16px !important;

  position: relative;

  &__drag-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: .3s;

    overflow: hidden;

    width: 70%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $BLACK-OPACITY;

    border-radius: 20px;

    &_active {
      left: 60%;
    }

    &:hover {
      background-color: $HOVER;
      color: #ffffff !important;
    }

    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__input-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &-text {
      font-size: 16px;
    }
  }

  &__library {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: $BLACK-OPACITY;

    &-scrollbar {
      border-radius: 20px;

      max-height: 30%;
    }

    &-item {
      padding: 10px 20px 10px 10px;

      box-sizing: border-box;

      transition: background-color .3s;

      cursor: pointer;

      display: flex;
      flex-direction: column;
      gap: 10px;

      &:hover {
        background-color: $BLUE-OPACITY;
      }

      &_active {
        background-color: $BLUE-OPACITY;
        color: $BLUE
      }

      &-pause {
        padding: 6px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: .3s;

        &:hover {
          background-color: $BLUE-OPACITY
        }
      }

      &-clip {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-labels {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &-label-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__tumblers {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_helpers {
      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: #ffffff;

      border-radius: 20px;

      padding: 10px;
    }
  }
}

.helper-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px;

  background-color: #ffffff;

  border-radius: 20px;

  cursor: pointer;

  overflow: hidden;

  &__toggle-wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    border-radius: 20px;

    border: 2px solid $ORANGE
  }

  &__toggle {
    width: 50%;
    height: 100%;

    border-radius: 20px;

    position: absolute;
    top: 0;
    left: 0;
    background-color: $ORANGE;

    transition: .3s;

    &_right {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  &__color-name {
    width: 70px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $ORANGE;
    transition: .3s ease-in-out;
    z-index: 1;

    &_active {
      color: #ffffff;
    }
  }
}

.chrome-picker div:last-child div.flexbox-fix:last-child {
  display: none !important;
}

.chrome-picker {
  box-shadow: none;

  border: 2px solid $ORANGE;
}
